<br>
<center>
    <div ng-controller="addCtrl" id="middle">
        <h1>STUDENT INFORMATION</h1>
        <h2>Add student details </h2>
        <br>
        <form>
            <input type="text" placeholder="Student ID" class="text" ng-model="id" size="30">
            <br>
            <br>
            <input type="text" placeholder="Student Name" class="text" ng-model="name" size="30">
            <br>
            <br>
            <input type="text" placeholder="Student Email" class="text" ng-model="email" size="30">
            <br>
            <br>
            <input type="submit" class="button" data-ng-click="saveDet()" value="Add Student"> <br><br>
            <br><br>
        </form>

    </div>
</center>
